input {
  background: $transparent-bg;
  border: solid 2px;
  border-radius: 10px;
  transition: all .25s ease-in;
  color: black;
  background-color: #ffffff;
  border-color: rgb(37, 0, 71);;
  @include shadow-shine();

  &:hover,
  &:focus {
    box-shadow: 0 0 30px $transparent-bg;
    color: black;
  }
}

@mixin input-primary() {
  padding: 15px 54px 15px 30px;
  font-size: 20px;
  width: 475px;
  color: $text-primary;

}