.App {
  min-height: 100vh;
 
  background-size: cover;
  overflow:  hidden;
  background-position: center center;
  
  @include stretch();

  &__title {
    @include title-main();
    text-decoration: none;
  }
}